.billsList h1 {
  text-align: center;
}

.dateContainer {
  background-color: aliceblue;
  border-top: 1px solid rebeccapurple;
  padding: 15px;
}

.dateContainer h3 {
  background-color: white;
  height: 25px;
  margin-top: 0;
  padding: 10px;
  text-align: center;
  width: 35px;
}

.bill {
  background-color: white;
  border-top: 1px solid rebeccapurple;
  padding: 10px;
}

.bill label {
  margin-right: 5px;
}

.bill .remove {
  color: blue;
  float: right;
  margin: 0;
}

.addBillForm {
  background-color: thistle;
  padding: 15px;
}

.addBillForm h2 {
  text-align: center;
}

.addBillForm form {
  margin: 10px auto;
  max-width: 320px;
}

.addBillForm .field {
  margin: 20px 0;
}

.addBillForm label {
  background-color: white;
  display: inline-block;
  padding: 10px;
}

.addBillForm input {
  border: 1px solid rebeccapurple;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 5px;
  width: 100%;
}

.addBillForm input[type=radio]{
  width: auto;
}

.addBillForm .radios {
  margin-top: 10px;
}

.addBillForm .radios input:nth-of-type(2) {
  margin-left: 25px;
}
